/* Accordion Slider
*/
/* === Main Styles ===================================== */
html { font-size: 62.5%; }

img { vertical-align: middle; }

.container { max-width: 1200px; margin: 0 auto; }

/* ===  Slider Styles ===================================== */
.accordion { list-style: none; margin: 30px 0; padding: 0; width: 100%; height: 540px; overflow: hidden; }
.accordion .panel { display: block; float: left; position: relative; line-height: 1.5em; font-size: 16px; color: #666666; overflow: hidden; }
.accordion .panel.active .panelContent { display: block; }
.accordion .panel.active .img_short { display: none; }

.panelContent .header, .img_short .header { display: block; position: absolute; bottom: 10%; width: 100%; height: 108px; background: rgba(255, 255, 255, 0.7); }
@media (max-width: 590px) { .panelContent .header, .img_short .header { height: 98px; } }
@media (max-width: 510px) { .panelContent .header, .img_short .header { height: 88px; } }
@media (max-width: 390px) { .panelContent .header, .img_short .header { height: 68px; } }
.panelContent .header p, .img_short .header p { color: black; word-wrap: break-word; }

.panelContent { display: none; overflow: hidden; }
.panelContent .header p { float: left; margin: 36px 0 0 20px; font-size: 28px; }
@media (max-width: 790px) { .panelContent .header p { font-size: 23px; } }
@media (max-width: 590px) { .panelContent .header p { font-size: 20px; } }
@media (max-width: 510px) { .panelContent .header p { font-size: 16px; } }
@media (max-width: 420px) { .panelContent .header p { margin: 36px 0 0 10px; font-size: 14px; } }
@media (max-width: 360px) { .panelContent .header p { font-size: 12px; } }
.panelContent .header .arrow-right { float: right; }
@media (max-width: 420px) { .panelContent .header .arrow-right { display: none; } }
.panelContent .header .arrow-right img { margin: 45px 56px 0 0; height: 13px; }
@media (max-width: 790px) { .panelContent .header .arrow-right img { margin: 42px 40px 0 0; } }
@media (max-width: 590px) { .panelContent .header .arrow-right img { margin: 40px 26px 0 0; } }
@media (max-width: 510px) { .panelContent .header .arrow-right img { margin: 40px 18px 0 0; } }

.img_short { float: left; width: 99%; border-right: 2px solid #e6dbd2; cursor: pointer; }
.img_short .header p { float: right; margin: 15px 0 0 5px; padding: 0 18px 0 5px; line-height: 14px; font-size: 12px; text-align: right; }
@media (max-width: 790px) { .img_short .header p { font-size: 11px; padding: 0 8px 0 5px; } }
@media (max-width: 510px) { .img_short .header p { margin: 5px 0 0 5px; padding: 0 5px 0 2px; line-height: 11px; } }
@media (max-width: 420px) { .img_short .header p { line-height: 10px; font-size: 11px; } }
@media (max-width: 390px) { .img_short .header p { display: none; } }
.img_short .header .arrow-left { float: right; }
.img_short .header .arrow-left img { margin: 5px 24px 0 0; height: 13px; }
@media (max-width: 790px) { .img_short .header .arrow-left img { margin: 5px 14px 0 0; } }

.last { border: none; }
