/*
 * Accordion Slider
*/


/* === Main Styles
   ===================================== */

html {
  font-size: 62.5%;
}

img {
  vertical-align: middle;
}

.container {
  max-width:1200px;
  margin:0 auto;
}

/* ===  Slider Styles
   ===================================== */

.accordion {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  width: 100%;
  height: 540px;
  overflow: hidden;

  .panel {
    display: block;
    float: left;
    position: relative;
    line-height: 1.5em;
    font-size: 16px;
    color: #666666;
    overflow: hidden;
  }

  .panel.active {

    .panelContent { display: block; }
    .img_short { display: none; }
  }
}

.panelContent, .img_short {

  .header {
    display: block;
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 108px;
    background: rgba(255,255,255,0.7);
    @media (max-width: 590px) { height: 98px; }
    @media (max-width: 510px) { height: 88px; }
    @media (max-width: 390px) { height: 68px; }

    p {
      color: black;
      word-wrap: break-word;
    }
  }
}

.panelContent {
  display: none;
  overflow: hidden;

  .header {

    p {
      float: left;
      margin: 36px 0 0 20px;
      font-size: 28px;
      @media (max-width: 790px) { font-size: 23px; }
      @media (max-width: 590px) { font-size: 20px; }
      @media (max-width: 510px) { font-size: 16px; }
      @media (max-width: 420px) {
        margin: 36px 0 0 10px;
        font-size: 14px;
      }
      @media (max-width: 360px) { font-size: 12px; }
    }

    .arrow-right {
      float: right;
      @media (max-width: 420px) { display: none; }

      img {
        margin: 45px 56px 0 0;
        height: 13px;
        @media (max-width: 790px) { margin: 42px 40px 0 0; }
        @media (max-width: 590px) { margin: 40px 26px 0 0; }
        @media (max-width: 510px) { margin: 40px 18px 0 0; }
      }
    }
  }
}

.img_short {
  float: left;
  width: 99%;
  border-right: 2px solid #e6dbd2;
  cursor: pointer;

  .header {

    p {
      float: right;
      margin: 15px 0 0 5px;
      padding: 0 18px 0 5px;
      line-height: 14px;
      font-size: 12px;
      text-align: right;

      @media (max-width: 790px) {
        font-size: 11px;
        padding: 0 8px 0 5px;
      }
      @media (max-width: 510px) {
        margin: 5px 0 0 5px;
        padding: 0 5px 0 2px;
        line-height: 11px;
      }
      @media (max-width: 420px) {
        line-height: 10px;
        font-size: 11px;
      }
      @media (max-width: 390px) {
        display: none;
      }
    }

    .arrow-left {
      float: right;

      img {
        margin: 5px 24px 0 0;
        height: 13px;
        @media (max-width: 790px) { margin: 5px 14px 0 0; }
      }
    }
  }
}

.last { border: none; }